.banner-calc {
    padding: 75px 0;

    background-image: url('../img/section/advantages/form-calc.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
