.banner-calc {
    padding: 75px 0;

    background-image: url('../img/section/advantages/form-calc-bg-2.jpg');
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-position: center;
    background-size: contain;

    @media (max-width: $lg) {
        background-size: cover;
    }
}
