.burger {
    display: none;

    width: 44px;
    height: auto;

    padding: 0;
    margin: 0;

    font-family: $family;

    border: 0;
    background: none;
    cursor: pointer;

    @media (max-width: $md) {
        display: block;
    }

    &.active {
        .burger__item {
            background-color: $colors-blue;
        }
    }

    &__item {
        display: block;

        width: 100%;
        height: 2px;

        margin-bottom: 8px;

        background-color: $colors-beige;

        transition: 0.3s linear;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
