.card {
    &--project {
        max-width: 467px;

        border-radius: 0 0 23px 23px;
        box-shadow: -1px 1px 5px rgba($colors-blue, 0.5);

        overflow: hidden;

        .card__image {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .card__content {
            padding: 22px 30px;

            background-color: #fff;
            @media (max-width: $sm) {
                padding: 15px 10px;
            }
        }

        .card__title {
            margin-bottom: 21px;

            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $colors-blue;
        }
    }

    &--partners {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        .card__image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 111px;
            padding: 10px;

            background-color: #f7fafd;
        }

        .card__image {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &--cert {
        max-width: 310px;
        padding: 14px;

        background-color: #fff;
        border-radius: 19px;
        box-shadow: -1px 1px 5px rgba($colors-blue, 0.5);

        .card__image-wrapper {
            margin-bottom: 13px;

            border: 1px solid #e8e4e4;
        }

        .card__image {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .card__text {
            margin-bottom: 3px;

            font-size: 1.4rem;
            line-height: 1.8rem;
            text-align: center;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &--advantage {
        display: grid;
        place-items: center;

        .card__image {
            margin-bottom: 20px;

            display: block;
            max-width: 100%;
            height: auto;
        }

        .card__title {
            margin-bottom: 20px;

            font-size: 1.8rem;
            font-weight: 600;
            line-height: 2.2rem;
            text-transform: uppercase;
            color: $colors-blue;
            text-align: center;

            @media (max-width: 640px) {
                font-size: 1.6rem;
                line-height: 1.6rem;
            }
            @media (max-width: $sm) {
                font-size: 1.2rem;
            }
        }

        .card__text {
            line-height: 1.8rem;

            text-align: center;

            @media (max-width: $sm) {
                font-size: 1.4rem;
                line-height: 1.6rem;
            }
        }
    }

    &--structure {
        max-width: 290px;

        .card__top {
            display: flex;
            align-items: flex-end;
            gap: 15px;

            margin-bottom: 26px;
        }

        .card__num {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 60px;
            height: 60px;

            font-family: $family-title;
            font-size: 4.1rem;
            line-height: 1;
            color: $colors-blue;

            border-radius: 50%;
            background-color: $colors-beige;

            @media (max-width: 640px) {
                width: 30px;
                height: 30px;

                font-size: 2rem;
                line-height: 1;
            }
        }

        .card__title {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 2.2rem;
            color: $colors-blue;

            @media (max-width: 640px) {
                font-size: 1.6rem;
            }
            @media (max-width: $sm) {
                font-size: 1.3rem;
            }
        }

        .card__image {
            @media (max-width: 640px) {
                max-width: 60px;
            }
        }
    }

    &--testimonial {
        max-width: 350px;

        padding: 27px 24px 18px;

        border-radius: 19px;
        box-shadow: -1px 1px 5px rgba($colors-blue, 0.5);
        background-color: #fff;

        .card__author {
            display: block;
            margin-bottom: 25px;

            font-weight: 600;
        }

        .card__text {
            margin-bottom: 60px;
        }

        .card__footer {
            padding-top: 10px;

            font-size: 1.6rem;

            border-top: 1px solid;
        }
    }

    &--team {
        .card__caption {
            padding-bottom: 8px;
            margin-bottom: 8px;

            font-size: 1.6rem;
            font-weight: 600;

            border-bottom: 1px solid $colors-grey;
        }

        .card__text {
            min-height: 50px;

            line-height: 2.4rem;
            text-align: left;
        }
    }

    &--video {
        padding: 27px 24px 18px;

        border-radius: 19px;
        box-shadow: -1px 1px 5px rgba($colors-blue, 0.5);
        background-color: #fff;

        .card__video {
            margin-bottom: 10px;

            display: block;
            max-width: 100%;
            height: auto;
        }

        .card__caption {
            position: relative;

            margin-bottom: 8px;
            padding-bottom: 8px;

            font-size: 1.6rem;
            font-weight: 600;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                max-width: 267px;
                height: 1px;

                background-color: $colors-grey;
            }
        }
    }
}
