.footer {
    width: 100%;

    color: #fff;

    background-color: #0f1b50;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 0 33px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
    }
    &__logo {
        margin-bottom: 50px;
    }

    &__content {
        padding: 9px;

        border-top: 2px solid #4f587f;
    }

    &__copy {
        margin-bottom: 15px;

        text-align: center;

        @media (max-width: $sm) {
            margin-bottom: 20px;
        }
    }

    &__docs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;

        @media (max-width: $sm) {
            flex-direction: column;
            gap: 20px;
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
