.section {
    &__inner {
    }
    &__title {
        margin-bottom: 40px;

        font-family: $family-title;
        font-size: 3.6rem;
        line-height: 4.7rem;
        text-transform: uppercase;
        color: $colors-blue;
        text-align: center;
    }

    &__content {
    }

    a {
        font-weight: 700;
        color: $colors-beige;

        transition: 0.3s linear;

        &:hover {
            color: $colors-blue;
        }
    }

    &--showcase {
        min-height: 724px;

        background-image: url('../img/section/showcase/showcase-bg.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .section__inner {
            padding-top: 51px;
        }

        .section__header {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            margin-bottom: 88px;
        }

        .section__title {
            max-width: 600px;

            margin-bottom: 26px;
            text-align: left;
        }
    }

    &--projects {
        margin-bottom: 30px;

        .section__title {
            margin-bottom: 61px;
        }
        .section__content {
        }
    }

    &--about {
        position: relative;
        padding: 72px 0 48px;

        margin-bottom: 55px;

        background-image: url('../img/section/about/about-bg.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .decor {
            position: absolute;

            &--gulls {
                right: 0;
                top: 85px;
            }
            &--leaves {
                right: 10px;
                bottom: 20px;
            }

            &--house {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }

        .section__title {
            margin-bottom: 55px;
        }

        .section__content {
            max-width: 600px;
            margin-left: auto;

            p {
                margin-bottom: 35px;

                line-height: 1.8rem;
            }
        }
    }

    &--partners {
        .section__inner {
            padding: 51px 0 30px;
        }

        .section__title {
            margin-bottom: 59px;
        }

        .slider__title {
            margin-bottom: 28px;

            font-family: $family-title;
            font-size: 1.8rem;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &--certificates {
        padding: 63px 0 116px;

        margin-bottom: 40px;

        background-image: url('../img/section/certificates/cert-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .section__title {
            margin-bottom: 55px;
        }
    }

    &--advantages {
        position: relative;

        .leaves {
            position: absolute;

            left: 0;
            bottom: 0;
        }
        .tree {
            position: absolute;

            right: 0;
            bottom: 0;
        }
        .section__title {
            margin-bottom: 51px;
        }

        .advantages-list {
            width: 100%;
            margin-bottom: 53px;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;

            gap: 30px;
        }
    }
}
