.section {
    &__inner {
    }
    &__title {
        margin-bottom: 40px;

        font-family: $family-title;
        font-size: 3.6rem;
        line-height: 4.7rem;
        text-transform: uppercase;
        color: $colors-blue;
        text-align: center;

        @media (max-width: $sm) {
            font-size: 2.5rem;
            line-height: 3rem;
            margin-bottom: 30px;
        }
    }

    &__content {
    }

    a {
        font-weight: 700;
        color: $colors-beige;

        transition: 0.3s linear;

        &:hover {
            color: $colors-blue;
        }
    }

    &--showcase {
        position: relative;

        padding-top: 200px;

        min-height: 724px;
        height: 50vw;
        max-height: 1000px;

        background-image: url('../img/section/showcase/showcase-bg.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: $md) {
            height: auto;
        }
        @media (max-width: $sm) {
            padding-top: 100px;
            background-position: right -480px center;
        }

        .section__inner {
            padding-top: 51px;
        }

        .section__title {
            max-width: 600px;

            margin-bottom: 26px;
            text-align: left;
        }

        // .section__form-wrapper {
        //     position: absolute;
        //     left: 0;
        //     bottom: 50px;

        //     display: flex;
        //     justify-content: flex-end;

        //     padding: 23px 200px 23px 0;
        //     background-color: #fff;
        //     backdrop-filter: blur(10px);

        //     border-radius: 0px 43px 190px 0px;

        //     width: 70%;
        // }
    }

    &--projects {
        position: relative;

        margin-bottom: 30px;

        @media (max-width: $md) {
            margin-top: 50px;
        }

        .decor-left {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
        .decor-right {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }

        .section__title {
            margin-bottom: 61px;
        }
        .section__content {
        }
    }

    &--about {
        position: relative;
        padding: 72px 0 48px;

        margin-bottom: 55px;

        background-image: url('../img/section/about/about-bg.webp');
        background-repeat-x: repeat;
        background-repeat-y: no-repeat;
        background-position: center;
        background-size: contain;

        @media (max-width: 1400px) {
            background-size: cover;
        }

        .decor {
            position: absolute;

            &--gulls {
                right: 0;
                top: 85px;

                @media (max-width: $lg) {
                    display: none;
                }
            }
            &--leaves {
                right: 10px;
                bottom: 20px;

                @media (max-width: $lg) {
                    display: none;
                }
            }

            &--house {
                top: 50%;
                left: 0;
                transform: translateY(-50%);

                @media (max-width: 1400px) {
                    display: none;
                }
            }
        }

        .section__title {
            margin-bottom: 55px;
        }

        .section__content {
            max-width: 600px;
            margin-left: auto;

            @media (max-width: 1400px) {
                margin: 0 auto;
            }

            p {
                margin-bottom: 35px;

                line-height: 1.8rem;
            }
        }
    }

    &--partners {
        .section__inner {
            padding: 51px 0 30px;
        }

        .section__title {
            margin-bottom: 59px;
        }

        .slider__title {
            margin-bottom: 28px;

            font-family: $family-title;
            font-size: 1.8rem;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &--certificates {
        padding: 63px 0 116px;

        margin-bottom: 40px;

        background-image: url('../img/section/certificates/cert-bg.jpg');

        background-repeat-x: repeat;
        background-repeat-y: no-repeat;
        background-position: center;
        background-size: contain;

        @media (max-width: $lg) {
            background-size: cover;
        }

        .section__title {
            margin-bottom: 55px;
        }
    }

    &--advantages {
        position: relative;

        .leaves {
            position: absolute;

            left: 0;
            bottom: 0;

            @media (max-width: 1300px) {
                display: none;
            }
        }
        .tree {
            position: absolute;

            right: 0;
            bottom: 0;

            @media (max-width: 1300px) {
                display: none;
            }
        }
        .house {
            position: absolute;

            right: 0;
            bottom: 0;

            @media (max-width: $md) {
                display: none;
            }
        }
        .section__title {
            margin-bottom: 51px;
        }

        .advantages-list {
            width: 100%;
            margin-bottom: 53px;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 230px));
            justify-content: center;

            gap: 30px;
        }
    }

    &--structure {
        margin-bottom: 53px;

        .section__title {
            margin-bottom: 71px;
        }

        .section__content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 285px));
            gap: 80px 40px;
            justify-content: space-between;

            @media (max-width: $md) {
                justify-content: center;
            }
        }
    }

    &--testimonials {
        padding: 65px 0 110px;

        background-image: url('../img/section/testimonials/test-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .section__title {
            margin-bottom: 52px;
        }

        .section__content {
        }
    }

    &--contacts {
        position: relative;

        min-height: 500px;

        .map-wrapper {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;

            @media (max-width: $lg) {
                position: static;
                width: 100%;
            }
        }

        .section__content {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            // gap: 100px;

            @media (max-width: $lg) {
                justify-content: center;
            }
        }
    }

    &--default {
        background-image: url('../img/section/default/bg.webp');
        background-repeat-x: repeat;
        background-repeat-y: no-repeat;
        background-position: top;
        background-size: contain;

        padding-top: 260px;

        margin-bottom: 100px;

        @media (max-width: $sm) {
            padding-top: 170px;
        }
    }
}
