.showcase-list {
    max-width: 440px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 85px;

    @media (max-width: $sm) {
        gap: 20px;
        grid-template-columns: 1fr;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__item-text {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2rem;
        color: $colors-beige;
    }
}
