.socials {
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 5;

    padding: 13px 12px;

    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;

    background-image: url('../img/icons/socials-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__link {
        width: 30px;
        height: 25px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        transition: 0.3s linear;

        &.whatsapp {
            background-image: url('../img/icons/whatsapp.png');

            &:hover {
                background-image: url('../img/icons/whatsapp-active.png');
            }
        }
        &.vk {
            background-image: url('../img/icons/vk.png');

            &:hover {
                background-image: url('../img/icons/vk-active.png');
            }
        }
        &.tg {
            background-image: url('../img/icons/tg.png');

            &:hover {
                background-image: url('../img/icons/tg-active.png');
            }
        }
    }
}
