<footer class="footer">
    <div class="container container--md">
        <div class="footer__inner">
            <a href="#" class="logo footer__logo">
                <img src="img/logo/logo-footer.png" alt="" />
            </a>

            <div class="footer__content">
                <p class="footer__copy">
                    Россия. г. Санкт-Петербург. Копирование и использование
                    материалов сайта запрещено. Все права защищены © 2010-2023.
                    Агентство недвижимости “Альянс строй”.
                </p>

                <div class="footer__docs">
                    <a href="#"> Пользовательское соглашение </a>
                    <a href="#"> Политика о конфиденциальности </a>
                    <a href="#"> Договор оферты </a>
                </div>
            </div>
        </div>
    </div>
</footer>
