<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="index.html" class="logo header__logo">
                <picture>
                    <source srcset="img/logo/logo.webp" />
                    <img src="img/logo/logo.png" alt="logo__image" />
                </picture>
            </a>

            <a href="tel:+79211234567" class="header__tel">
                <div>
                    <img src="img/icons/tel-mob-active.png" alt="" />
                    <span>+7 (921) 123-45-67 </span>
                </div>
                <p>Ежедневно с 9.00 до 22.00</p>
            </a>

            <nav class="nav nav--header">
                <ul class="nav__list">
                    <li>
                        <a href="#"> Наши проекты </a>
                    </li>
                    <li>
                        <a href="#"> О компании </a>
                    </li>
                    <li>
                        <a href="#"> Партнеры</a>
                    </li>
                    <li>
                        <a href="#"> Сертификаты </a>
                    </li>
                    <li>
                        <a href="#"> Преимущества </a>
                    </li>
                    <li>
                        <a href="#"> Структура работы </a>
                    </li>
                    <li>
                        <a href="#"> Отзывы </a>
                    </li>
                    <li>
                        <a href="#"> Контакты</a>
                    </li>
                </ul>
            </nav>

            <button class="burger">
                <span class="burger__item"></span>
                <span class="burger__item"></span>
                <span class="burger__item"></span>
                <span class="burger__item"></span>
            </button>
        </div>
    </div>
</header>

<div class="header-bottom">
    <div class="container">
        <div class="header-bottom__inner">
            <a href="index.html" class="logo">
                <picture>
                    <source srcset="img/logo/logo.webp" />
                    <img src="img/logo/logo.png" alt="logo__image" />
                </picture>
            </a>

            <div class="tel-block">
                <button type="button" class="tel-block__item callback">
                    <span class="tel-block__item-top">
                        <span class="tel-block__item-icon"></span>
                        Заказать звонок
                    </span>
                    <span class="tel-block__item-bottom">
                        Перевоним через 15 минут
                    </span>
                </button>
                <a href="tel:+79211234567" class="tel-block__item call">
                    <span class="tel-block__item-top">
                        <span class="tel-block__item-icon"></span>
                        +7 (921) 123-45-67
                    </span>
                    <span class="tel-block__item-bottom">
                        Ежедневно с 9.00 до 22.00
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
